@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;900&display=swap');

* {
	font-family: 'Nunito', sans-serif;
	font-weight: 700 !important;
}

html {
	padding: 0;
	margin: 0;
}

form {
    margin: 0 auto;
}

input, label, .swal-title {
    text-transform: capitalize;
}

input:focus {
	outline: none !important;
	box-shadow: none !important;
}

.form-group {
	position: relative;
}

input + label {
  position: absolute;
  top: 19%;
  left: 4.8%;
  transition: all 250ms ease;
  pointer-events: none;
  color: rgba(0,0,0, .4);
  background: #fff;
  padding: 0 5px 0 5px;
}

input:focus + label,
input + label.label-small {
  font-size: 0.7em;
  font-weight: 400;
  color: #007BFF;
  transform: translateY(-1.3em);
}

.value-bar {
	border: solid 1px #eee;
}

.mickey {
	height: 100vh;
}

#fixed-soal-no4 {
	font-size: 7em;
}

/* Announcement */

.announcement-container {
	height: 100vh;
	background: rgb(238, 238, 238);
}

.announcement {
	position: relative;
	background: #fff;
	color: rgb(178, 178, 178);
	border-radius: 4px;
	box-shadow: 0 2px 1px rgba(0,0,0,0.02),
						0 4px 2px rgba(0,0,0,0.02),
						0 8px 4px rgba(0,0,0,0.02);
	animation-name: fadeInDown;
	-webkit-animation-duration: 900ms;
    animation-duration: 900ms;
}

.time-announcement {
	font-weight: 400 !important;
}

.announcement-header {
	color: rgb(178, 178, 178);
}

.announcement .times {
	position: absolute;
	top: 7px;
	right: 10px;
	color: rgb(207, 207, 207);
	cursor: pointer;
}

.announcement-body {
	color: #484848;
	font-size: .90em;
}

.announcement-footer span {
	cursor: pointer;
	background: #f2f2f2;
	font-size: .75em;
}

.company p {
	font-size: .7em;
	font-weight: 400 !important;
}

@keyframes fadeInDown {
   0% {
      opacity: 0;
      transform: translateY(-20px);
   }
   100% {
      opacity: 1;
      transform: translateY(0);
   }
}

.sub-title-stats {
	font-weight: 400 !important;
	color: rgba(0,0,0, .7);
}

.bar {
	overflow: hidden;
}

.inner-bar {
	padding: .2em 0 .2em 0;
	font-size: .6em;
	color: #fff;
}

.inner-bar {
	height: 100%;
}

.stats h1 {
	font-weight: 900 !important;
	position: relative;
}

.stats h1 sup {
	position: absolute !important;
	top: 10% !important;
	font-size: .37em !important;
}

.film {
	padding-bottom: 10px;
}

.film-item {
}

.film-show-case {
	max-width: 83rem;
    margin: 0;
    display: grid;
    display: -ms-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: auto;
    grid-gap: 20px 50px;
}
